
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Title</title>
        <link rel="stylesheet" type="text/css" href="assets/main.css">

          <% include partials/header.ejs %>
        <% include partials/navigation.ejs %>
      

     
<form action="/login" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>
 <% include partials/footer.ejs %>