<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Title</title>
        <link rel="stylesheet" type="text/css" href="assets/main.css">
    </head>
    <body>
    	<div id ="wrapper">
       <% if(session == 1){ %>
       <% include partials/connection_log.ejs %>
        <% include partials/navigation_log.ejs %>
 <% } else{ %>  
   <% include partials/header.ejs %>
        <% include partials/navigation.ejs %>
      
<% } %>
        <div>Your post has been posted!!<div>


 </div>
               <% include partials/footer.ejs %>

    </div>
     </body>
</html>